@import '../../../style/base';

.temperature {
  background: $current-weather-background;
  width: 20%;
  margin: 20px;
  border-radius: 30px;
  text-align: center;

  .image {
    @include mediumMedia {
      svg {
        width: 6rem;
        height: 5rem;
      }
    }
  }
  &-detail {
    h3 {
      font-size: 1.4rem;
      color: $temperature;
    }
    p {
      font-size: 0.8rem;
      margin-top: 5px;
      margin-bottom: 15px;
      color: $description;
    }
  }
}
