@import '../../../style/base';

.temperature {
  background: $current-weather-background;
  width: 20%;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
  @include mediumMedia {
    display: flex;
    align-items: center;
  }
  .image {
    @include mediumMedia {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  &-detail {
    h3 {
      font-size: 1.4rem;
      color: $temperature;
    }
    p {
      font-size: 0.8rem;
      margin-top: 5px;
      margin-bottom: 15px;
      color: $description;
    }
  }
}
