@import './style/base';

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background;
  flex-direction: column;

  .wrap {
    width: 50rem;
    border-radius: 40px;
    padding: 8px;
    background-color: $wrap;
    .container {
      border: 2px solid $border;
      background: $container;
      border-radius: 30px;
    }
  }
}
